html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

html {
  font-family: "Work Sans", sans-serif;
}

.button {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav {
  padding: 20px 50px;
}

.container {
  width: 1280px;
  margin: auto;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_container .left_side_navbar {
  gap: 10px;
}
.navbar_container .right_side_navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.navbar_container .right_side_navbar .navbar_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 607px;
  height: 60px;
  gap: 10px;
  transition: 0.3s;
}
.navbar_container .right_side_navbar .navbar_links button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  gap: 12px;
  border-radius: 20px;
  height: 46px;
  padding: 12px 20px;
}
.navbar_container .right_side_navbar .navbar_links .navBtn {
  transition: 0.3s;
  background-color: #a259ff;
}
.navbar_container .right_side_navbar .navbar_links .navBtn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

body {
  background-color: #2b2b2b;
}

a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-transform: capitalize;
  color: #ffffff;
}

h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
}

h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  text-transform: capitalize;
  color: #ffffff;
}

h4 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  text-transform: capitalize;
  color: #ffffff;
}

h5 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  text-transform: capitalize;
  color: #ffffff;
}

.container {
  width: 1050px;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 195px;
  gap: 30px;
}
.welcome .container {
  width: 1050px;
}
.welcome .welcome_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.welcome .welcome_container .welcome_text {
  width: 510px;
  height: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.welcome .welcome_container .welcome_text .button {
  cursor: pointer;
  transition: 0.3s;
}
.welcome .welcome_container .welcome_text .button:hover {
  transform: scale(0.9);
}
.welcome .welcome_container .welcome_text .infoDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 510px;
}
.welcome .welcome_container .welcome_text .infoDiv .infos {
  border-radius: 20px;
  width: 150px;
}
.welcome .welcome_container .welcome_text .button {
  width: 224px;
  height: 60px;
  background-color: #a259ff;
  gap: 12px;
}
.welcome .welcome_container .welcome_image .welcome_image_text {
  background-color: #3b3b3b;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  gap: 10px;
}
.welcome .welcome_container .welcome_image .welcome_image_text > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trending .container {
  width: 1050px;
}
.trending .trending_container {
  padding: 80px 0px;
  gap: 60px;
  margin-bottom: 50px;
}
.trending .trending_container .trending_cards {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.trending .trending_container .trending_cards .card img {
  transition: 0.3s;
}
.trending .trending_container .trending_cards .card img:hover {
  transform: scale(0.9);
}
.trending .trending_container .trending_cards .little_cards {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.trending .trending_container .trending_cards .little_text {
  display: flex;
  gap: 12px;
}

.creators {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creators .creators_container {
  width: 1050px;
}
.creators .creators_container .creators_top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 100px;
  margin-bottom: 60px;
}
.creators .creators_container .creators_top .top_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 703px;
}
.creators .creators_container .creators_top .top_right > .button {
  background-color: transparent;
  width: 247px;
  height: 60px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  gap: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.creators .creators_container .creators_top .top_right > .button:hover {
  background-color: #a259ff;
}
.creators .creators_container .creators_cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1050px;
  gap: 30px;
}
.creators .creators_container .creators_cards .card_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.creators .creators_container .creators_cards .card_row .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  isolation: isolate;
  width: 240px;
  height: 238px;
  background: #3b3b3b;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.creators .creators_container .creators_cards .card_row .card:hover {
  transform: scale(0.95);
}
.creators .creators_container .creators_cards .card_row .card .card_number {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 18px;
  background: #2b2b2b;
  border-radius: 20px;
  z-index: 2;
}
.creators .creators_container .creators_cards .card_row .card .card_number > p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #858584;
  z-index: 0;
  position: absolute;
  width: 10px;
  height: 22px;
  left: calc(50% - 5px);
  top: calc(50% - 11px);
}
.creators .creators_container .creators_cards .card_row .card .creators_card_photo {
  width: 110px;
  height: 120px;
}
.creators .creators_container .creators_cards .card_row .card .creators_card_photo > img {
  width: 120px;
  height: 120px;
}
.creators .creators_container .creators_cards .card_row .card .creators_card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 200px;
  height: 58px;
}
.creators .creators_container .creators_cards .card_row .card .creators_card_text h5 {
  align-self: center;
}
.creators .creators_container .creators_cards .card_row .card .creators_card_text .creators_card_text_little {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  align-items: center;
}
.creators .creators_container .creators_cards .card_row .card .creators_card_text .creators_card_text_little > p {
  color: #858584;
  line-height: 22.4px;
  font-size: 16px;
}
.creators .creators_container .creators_cards .card_row .card .creators_card_text .creators_card_text_little > span {
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 80px 0;
}
.categories .categories_container {
  padding: 80px 0;
}
.categories .categories_container .categories_top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 60px;
}
.categories .categories_container .categories_cards {
  gap: 30px;
  display: flex;
}
.categories .categories_container .categories_cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 240px;
  height: 316px;
  background: #3b3b3b;
  border-radius: 20px;
  margin-bottom: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.categories .categories_container .categories_cards .card:hover {
  transform: scale(0.92);
}
.categories .categories_container .categories_cards .card .card_photo {
  width: 240px;
  height: 316px;
  position: relative;
}
.categories .categories_container .categories_cards .card .card_photo .blured_photo {
  width: 240px;
  height: 240px;
  border-radius: 20px 20px 0px 0px;
}
.categories .categories_container .categories_cards .card .card_photo .blured_photo > img {
  filter: blur(7.5px);
}
.categories .categories_container .categories_cards .card .card_photo .photo_tool {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 100px;
  height: 100px;
}
.categories .categories_container .categories_cards .card .card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 30px 25px;
  gap: 25px;
  width: 240px;
  height: 76px;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 60px;
}
.discover .discover_container .discover_top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 100px;
  margin-bottom: 60px;
}
.discover .discover_container .discover_top .discover_top_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 703px;
}
.discover .discover_container .discover_top .discover_top_right > .button {
  background-color: transparent;
  width: 247px;
  height: 60px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  gap: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.discover .discover_container .discover_top .discover_top_right > .button:hover {
  background-color: #a259ff;
}
.discover .discover_container .discover_cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1050px;
}