.welcome_creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 40px;
  .creators_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    > p {
      font-family: "Work Sans";
    }
  }
}

@media screen and (max-width: 1050px) {
  .welcome_creators {
    padding: 40px 0px;
    .creators_container {
      width: 690px;
      h2 {
        line-height: 46px;
        font-size: 38px;
      }
      p {
        line-height: 22px;
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 690px) {
  .welcome_creators {
    padding: 0;
    .creators_container {
      width: 315px;
      h2 {
        line-height: 39px;
        font-size: 28px;
      }
    }
  }
}

.creatots_headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
  .headers_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    .head {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 30px;
      gap: 16px;
      width: 262.5px;
      height: 60px;
      border-bottom: 2px solid transparent;
      transition: 0.2s;
      h5:nth-child(2) {
        display: none;
      }
      h5 {
        font-family: "Work Sans";
        color: #858584;
      }
      &:hover {
        border-bottom: 2px solid #858584;
        h5 {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .creatots_headers {
    padding: 0px 10px;
    .headers_container {
      width: 690px;
      .head {
        width: 170px;
        h5:first-child {
          display: none;
        }
        h5:nth-child(2) {
          display: initial;
          font-size: 16px;
          line-height: 22px;
        }
      }
      .head h5:last-child {
        display: initial;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
@media screen and (max-width: 690px) {
  .creatots_headers {
    padding: 0px 10px;
    .headers_container {
      width: 315px;
      .head {
        width: 78.75px;
        h5:first-child {
          display: none;
        }
        h5:nth-child(2) {
          display: initial;
        }
      }
      .head h5:last-child {
        display: initial;
      }
    }
  }
}

.creators_cards {
  padding: 40px 0px;
  .creators_cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .card_header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 0px;
      gap: 10px;
      width: 1050px;
      height: 46px;
      border: 1px solid #3b3b3b;
      border-radius: 20px;
      p {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #858584;
      }
      .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        width: 1050px;
        height: 22px;
        .left_header {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 20px;
          width: 430px;
          height: 22px;
        }
        .right_header {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding: 0px;
          gap: 20px;
          width: 520px;
          height: 22px;
          .change,
          .sold,
          .volume {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 160px;
            height: 22px;
          }
        }
      }
    }
    .tables {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0px;
      gap: 20px;
      width: 1050px;

      .table_outline {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0px;
        gap: 10px;
        width: 1050px;
        height: 84px;
        background: #3b3b3b;
        border-radius: 20px;
        transition: 0.3s;
        &:hover {
          transform: scale(0.95);
        }
        .table {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          width: 1050px;
          background: #3b3b3b;
          height: 60px;
          margin-bottom: 20px;
          .left_table {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 20px;
            width: 430px;
            height: 60px;
            .table_number {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              padding: 0px;
              gap: 10px;
              position: relative;
              width: 30px;
              height: 30px;
              background: #2b2b2b;
              border-radius: 20px;
              p {
                position: absolute;
                width: 10px;
                height: 22px;
                left: calc(50% - 10px / 2);
                top: calc(50% - 22px / 2);
                font-family: "Space Mono";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #858584;
              }
              .even {
                left: calc(50% - 20px / 2);
                top: calc(50% - 22px / 2);
              }
            }
            .table_items {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0px;
              gap: 20px;
              isolation: isolate;
              width: 380px;
              height: 60px;
              border-radius: 20px;
              .table_photo {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px;
                isolation: isolate;
                width: 60px;
                height: 60px;
              }
              .table_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
                width: 300px;
                height: 31px;
                h5 {
                  font-family: "Work Sans";
                }
              }
            }
          }
          .right_table {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            gap: 20px;
            width: 520px;
            height: 22px;
            .change,
            .sold,
            .volume {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              gap: 10px;
              width: 160px;
              height: 22px;
            }
            .change {
              p {
                font-family: "Space Mono";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #00ac4f;
              }
            }
            .sold,
            .volume {
              p {
                font-family: "Space Mono";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .hidden {
    display: none !important;
  }
  .creators_cards {
    .creators_cards_container {
      width: 690px;
      .card_header {
        width: 690px;
        .cards {
          width: 690px;
          .left_header {
            width: 215px;
          }
          .right_header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            gap: 20px;
            width: 220px;
            .change,
            .volume {
              width: 100px;
            }
            .sold {
              display: none;
            }
          }
        }
      }
      .tables {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        gap: 20px;
        width: 834px;
        .tables_outline {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 12px 0px;
          gap: 10px;
          width: 690px;
          .table {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            width: 690px;
            height: 31px;
            .left_table {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0px;
              gap: 20px;
              width: 410px;
              height: 31px;
              .table_number {
                width: 24px;
                height: 24px;
                border-radius: 20px;
              }
              .table_items {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
                width: 240px;
                height: 31px;
                .table_photo {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  padding: 0px;
                  gap: 10px;
                  width: 24px;
                  height: 24px;
                }
                .table_text {
                  h5 {
                    line-height: 31px;
                    font-size: 22px;
                  }
                }
              }
            }
            .right_table {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;
              padding: 0px;
              gap: 20px;
              width: 220px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}
