body {
  background-color: $background;
}
a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: $text;
}
p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-transform: capitalize;
  color: $text;
}
h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: $text;
}
h4 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: $text;
}
h5 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  text-transform: capitalize;
  color: $text;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 195px;
  gap: 30px;
  .container {
    width: 1050px;
  }
  .welcome_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .welcome_text {
      width: 510px;
      height: 544px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      .infoDiv {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        width: 510px;
        .infos {
          border-radius: 20px;
          width: 150px;
        }
      }
      .button {
        width: 224px;
        height: 60px;
        background-color: $call_to_action;
        gap: 12px;
      }
    }
    .welcome_image {
      background-color: $background_secondary;
      .welcome_image_text {
        padding: 20px;
        gap: 10px;
        > div {
          margin-top: 10px;
          display: flex;
          align-items: center;
          padding: 0px;
          gap: 12px;
        }
      }
    }
  }
}
