$background: #2b2b2b;
$background_secondary: #3b3b3b;
$caption_label_text: #858584;
$text: #ffffff;
$call_to_action: #a259ff;
$blue_accent: #377df7;
$red_accent: #ff7262;
$gradient1: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
$gradient2: inear-gradient(128.15deg, #a259ff 49.75%, #377df7 136.56%);
