nav {
  padding: 20px 50px;
}

.container {
  width: 1280px;
  margin: auto;
}
.hidden {
  display: none;
}
.navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .left_side_navbar {
    gap: 10px;
  }
  .right_side_navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;
    .navbar_links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 607px;
      height: 60px;
      gap: 10px;
      transition: 0.3s;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        gap: 12px;
        border-radius: 20px;
        height: 46px;
        padding: 12px 20px;
      }
      .navBtn {
        transition: 0.3s;
        background-color: $call_to_action;
        &:hover {
          cursor: pointer;
          transform: scale(0.9);
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .navbar_container {
    width: 690px;
    .right_side_navbar {
      .navbar_links {
        .button, a {
          display: none;
        }
        .burgerMenu{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media only screen and (max-width: 690px) {
  .navbar_container {
    width: 375px;
  }

  .left_side_navbar {
    width: 100px;
    height: auto;
    img{
      min-width: 100%;
    }
  }
  .right_side_navbar {
    .navbar_links {
      display: none;
    }
    .burgerMenu{
      display: flex;
      justify-content: flex-end;
    }
  }

  .right_side_navbar {
    .navbar_links {
      width: auto;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      button {
        margin-top: 10px;
        width: auto;
        padding: 8px 12px;
      }
    }
  }
}

// @media only screen and (max-width: 1050px) {
//   .navbar_container {
//     padding: 15px 50px;
//     .right_side_navbar {
//       .navbar_links {
//         display: none;
//         .burgerMenu {
//           display: initial;
//         }
//         width: auto;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 690px) {
//   .navbar_container {
//     flex-direction: column;

//     .left_side_navbar,
//     .right_side_navbar {
//       margin-bottom: 10px;
//     }

//     .right_side_navbar {
//       .navbar_links {
//         .burgerMenu {
//           display: initial;
//         }
//         flex-direction: column;
//         align-items: flex-start;
//       }
//     }
//   }
// }
